/* Override some defaults */


header {
	margin: 50px 0;
	box-shadow: none;
	border-bottom: 2px solid #EEE;
}

.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

.topbar .btn {
  border: 0;
}
