---
layout: default
---
{% include JB/setup %}

<div class="post">
    <p class="date">{{ page.date | date_to_long_string }}</p>
    <h2 class="post-title">
      <span>{{ page.title }}</span>
    </h2>

  {% if page.author %}
    <div class="post-guest">
      This is a guest post by
      {% if page.author.link %}
        <a href="{{page.author.link">{{page.author.name | capitalize}}</a>
      {% else %}
        {{ page.author.name | capitalize }} 
      {% endif %}
    </div>
  {% endif %}

	<div class="post-content">
	  {% if page.image %}
	    <a class="header-image" href="{{ BASE_PATH }}{{ page.url }}">
	      <img alt="{{ page.title }}" src="{{ page.image }}" />
	    </a>
	  {% endif %}

		{{ content }}
	</div>

	{% if page.tags != empty %}
	<div class="post-meta">
	    // Tagged: {% assign tags_list = page.tags %}
	    {% include JB/tags_list %}
	</div>
	{% endif %}
</div>